.App {
  text-align: center;
}
.wrap-search {
  margin-top: 50px;
}
.input-search {
  width: 90%;
  margin: auto;
}
.wrap-panels {
  width: 90%;
  margin: auto;
  display: flex;
}
.wrap-addTo {
  width: 45%;
  border: 1px solid black;
  margin-top: 30px;
}
.imgProduct {
  width: 50px;
}
.wrapProduct {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapProductSelect {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: lightblue;
}
.wrap-button-goCart {
  width: 40%;
  margin: auto;
}
.wrap-products-select {
  width: 45%;
  border: 1px solid black;
  margin-top: 30px;
  position: relatuve;
}
.wrap-products-cart {
  display: flex;
  margin-top: 50px;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.wrap-product-cart {
  width: 100px;
}
.title-cart-product {
  color: white;
  background-color: black;
}
.imgProduct-cart {
  width: 100px;
}
.wrap-button-remove {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.wrap-products-select {
  position: relative;
}
